
**/target/
*.class
*.log
*.jar
*.war
*.ear


.idea/
*.iml
*.ipr
*.iws
out/


.metadata/
.classpath
.project
.settings/
*.launch

.vscode/
.history/

复件 *
*.lnk
.DS_Store
Thumbs.db


**/config/db.properties
**/config/rmi.properties
*.env

